<table class="table table-condensed">
	<tbody>
		<tr>
			<th>acceleration</th>
			<td><%= @player.acceleration %></td>
		</tr>
		<tr>
			<th>aggression</th>
			<td><%= @player.aggression %> </td>
		</tr>
		<tr>
			<th>agility</th>
			<td><%= @player.agility %> </td>
		</tr>
		<tr>
			<th>balance</th>
			<td><%= @player.balance %> </td>
		</tr>
		<tr>
			<th>ballcontrol</th>
			<td><%= @player.ballcontrol %> </td>
		</tr>
		<tr>
			<th>crossing</th>
			<td><%= @player.crossing %> </td>
		</tr>
		<tr>
			<th>curve</th>
			<td><%= @player.curve %> </td>
		</tr>
		<tr>
			<th>dribbling</th>
			<td><%= @player.dribbling %> </td>
		</tr>
		<tr>
			<th>finishing</th>
			<td><%= @player.finishing %> </td>
		</tr>
		<tr>
			<th>freekickaccuracy</th>
			<td><%= @player.freekickaccuracy %> </td>
		</tr>
		<tr>
			<th>gkdiving</th>
			<td><%= @player.gkdiving %> </td>
		</tr>
		<tr>
			<th>gkhandling</th>
			<td><%= @player.gkhandling %> </td>
		</tr>
		<tr>
			<th>gkkicking</th>
			<td><%= @player.gkkicking %> </td>
		</tr>
		<tr>
			<th>gkpositioning</th>
			<td><%= @player.gkpositioning %> </td>
		</tr>
		<tr>
			<th>gkreflexes</th>
			<td><%= @player.gkreflexes %> </td>
		</tr>
		<tr>
			<th>headingaccuracy</th>
			<td><%= @player.headingaccuracy %> </td>
		</tr>
		<tr>
			<th>interceptions</th>
			<td><%= @player.interceptions %> </td>
		</tr>
		<tr>
			<th>jumping</th>
			<td><%= @player.jumping %> </td>
		</tr>
		<tr>
			<th>longpassing</th>
			<td><%= @player.longpassing %> </td>
		</tr>
		<tr>
			<th>longshots</th>
			<td><%= @player.longshots %> </td>
		</tr>
		<tr>
			<th>marking</th>
			<td><%= @player.marking %> </td>
		</tr>
		<tr>
			<th>penalties</th>
			<td><%= @player.penalties %> </td>
		</tr>
		<tr>
			<th>positioning</th>
			<td><%= @player.positioning %> </td>
		</tr>
		<tr>
			<th>potential</th>
			<td><%= @player.potential %> </td>
		</tr>
		<tr>
			<th>reactions</th>
			<td><%= @player.reactions %> </td>
		</tr>
		<tr>
			<th>shortpassing</th>
			<td><%= @player.shortpassing %> </td>
		</tr>
		<tr>
			<th>shotpower</th>
			<td><%= @player.shotpower %> </td>
		</tr>
		<tr>
			<th>slidingtackle</th>
			<td><%= @player.slidingtackle %> </td>
		</tr>
		<tr>
			<th>sprintspeed</th>
			<td><%= @player.sprintspeed %> </td>
		</tr>
		<tr>
			<th>standingtackle</th>
			<td><%= @player.standingtackle %> </td>
		</tr>
		<tr>
			<th>stamina</th>
			<td><%= @player.stamina %> </td>
		</tr>
		<tr>
			<th>strength</th>
			<td><%= @player.strength %> </td>
		</tr>
		<tr>
			<th>vision</th>
			<td><%= @player.vision %> </td>
		</tr>
		<tr>
			<th>volleys</th>
			<td><%= @player.volleys %> </td>
		</tr>


	</tbody>
</table>