<h1 align="center">Alerta de precios Fifa 17</h1>
<div class="row">
	<div class="col-xs-6">
		<h2>
			Lista de usuarios
			<%= link_to "Agregar", new_user_path, class: "btn btn-success btn-xs" %>			
		</h2>
		
		<h2>react</h2>
		<%= react_component 'Users', {users: @users} %>
		<h2>fin react</h2>

		<h2>rails</h2>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th>token</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.auth_token %></td>

					<td>
						<%= link_to "Editar", edit_user_path(user), class: "btn btn-primary btn-xs"	 %>
						<%= link_to "Eliminar", user_path(user), method: :delete, data: {confirm: "seguro que quieres eliminar a este usuario?"}, class: "btn btn-primary btn-xs"	 %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>	
	<div class="col-xs-6 text-center">
		<h2 align="center">Ver listado de jugadores</h2>
		<%= link_to "Ver", players_path, class: "btn btn-succes btn-lg"	 %>
	</div>
</div>
