<% if @player.sales  %>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Venta</th>
				<th>Recibido</th>
				<th>% Ut</th>
				<th>Comprar en:</th>
				<th>Utilidad</th>
			</tr>
		</thead>
		<tbody>
			<% @player.sales.each do |sale| %>
			<tr>
				<td><%= number_with_delimiter(sale.sell_in, delimiter: ",") %></td>
				<td><%= number_with_delimiter(sale.afterTax, delimiter: ",") %></td>
				<td><%= sale.pMargin %>%</td>
				<td><%= number_with_delimiter(sale.buy_in, delimiter: ",") %></td>
				<td><%= number_with_delimiter(sale.nMargin, delimiter: ",") %></td>
				<td>
					<%= link_to player_sale_path(@player, sale), method: :delete, class: "btn btn-xs btn-danger",	data: {confirm: "Seguro que quieres borrar esta transacción?"} do %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
					<%= link_to '#', class: "btn btn-xs btn-primary" do %>
						<span class="glyphicon glyphicon-pencil"></span>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>